<div class="container">

  <form [formGroup]="newParkForm">

    <label for="name">Name:</label>
    <input id="name" formControlName="name" />
    <div *ngIf="newParkForm.controls.name.invalid && newParkForm.controls.name.touched">
      <!-- <small *ngIf="newParkForm.controls.name.errors?.required">Name is required.</small>
      <small *ngIf="newParkForm.controls.name.errors?.minlength">Name must be at least 3 characters.</small> -->
    </div>

    <label for="lat">Latitude:</label>
    <input id="lat" formControlName="lat" />
    <div *ngIf="newParkForm.controls.lat.invalid && newParkForm.controls.lat.touched">
      <!-- <small *ngIf="newParkForm.controls.lat.errors?.required">Latitude is required.</small>
      <small *ngIf="newParkForm.controls.lat.errors?.pattern">Invalid latitude format.</small> -->
    </div>

    <label for="lng">Longitude:</label>
    <input id="lng" formControlName="lng" />
    <div *ngIf="newParkForm.controls.lng.invalid && newParkForm.controls.lng.touched">
      <!-- <small *ngIf="newParkForm.controls.lng.errors?.required">Longitude is required.</small>
      <small *ngIf="newParkForm.controls.lng.errors?.pattern">Invalid longitude format.</small> -->
    </div>

    <button type="submit" [disabled]="newParkForm.invalid" (click)="submit()">Submit</button>

  </form>

  <div *ngFor="let park of parks | async">

    <p>{{park.name}}</p>

  </div>


</div>

<router-outlet />
